# Supabase Configuration
VITE_SUPABASE_URL=https://eetnhlivihfshxtpaodd.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVldG5obGl2aWhmc2h4dHBhb2RkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzcwMjkzODAsImV4cCI6MjA5MjYwNTM4MH0.QyCDGlz3ITIWp2o_jhL8UlD_Z5pYSmxn7m3so5GOeUk
VITE_GOOGLE_MAPS_API_KEY=

# TIPSOI API
VITE_TIPSOI_BASE_URL=https://test.api-inovace360.com/api/v1
VITE_TIPSOI_TOKEN=0f56-4ac8-3355-4020-5747-fca1-de4a-dea8-d195-999f-a3b3-80cf-27ee-4d01-e978-888e

