# Supabase Configuration
VITE_SUPABASE_URL=https://eetnhlivihfshxtpaodd.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVldG5obGl2aWhmc2h4dHBhb2RkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzcwMjkzODAsImV4cCI6MjA5MjYwNTM4MH0.QyCDGlz3ITIWp2o_jhL8UlD_Z5pYSmxn7m3so5GOeUk
